/*
CSS for the project showcase admin pages
*/
.admin-view {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    height: 100%;
}

.admin-menu {
    color: var(--color-white);
    background-color: var(--color-black);
    height: 100%;
    width: 200px;
}

.admin-menu a {
    text-decoration: none;
    font-size: 1.1rem;
    color: inherit;
}

.admin-menu ul {
    list-style: none;
    padding: 0px;
    margin: 20px 0px 0px 0px;
}

.admin-menu li {
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.admin-menu li span {
    width: 45px;
}

.admin-menu li:hover,
.admin-menu li.active {
    background-color: var(--color-light-black);
}

.admin-content {
    background-color: var(--color-light-grey);
    flex-grow: 1;
}

.admin-paper {
    background-color: var(--color-white);
    border-radius: 2px;
    box-shadow: 0px 0px 2px var(--color-grey);
    padding: 12px;
    margin: 8px;
}

.user-form {
    display: flex;
    align-items: center;
}

table {
    width: 100%;
}

.col-stat {
    padding: 5px;
}

.col-stat .card {
    height: 100%;
}

.stat-number {
    font-size: 1.9rem;
    font-weight: bold;
    margin-right: 5px;
}

.stat-card-link,
.stat-card-link:hover,
.stat-card-link:focus,
.stat-card-link:visited {
    color: inherit;
}