/*
CSS for the project showcase admin pages
*/

.admin-view {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    height: 100%;
}
  
.jsonEntry {
    width: 80%;
    margin-left:25px;
}

.jsonButton {
    width: 15%;
    margin: initial;
    margin-left:20px;
    font-size: 30px;
}

.validJsonButton {
    background-color: lightgreen;
    margin-left: 30px;
}

.invalidJsonButton {
    background-color: lightcoral;
    margin-left: 30px;
}

.button {
    display: inline-block;
    padding: 15px;
    margin-right: 5px;
    height: 50px;
    min-width: 100px;
    background: #348AA7;
    border: none;
    outline: none;
    color: white;
    font-family: inherit;
    font-weight: 400;
    font-size: 20px;
    border-radius: 3px;
    box-shadow: 0 5px 0px #348aa7;
    border-bottom: 2px solid #30809b;
  }
  .button:hover {
    background: #2e7a94;
    box-shadow: 0 4px 1px #2e7a94;
    border-bottom: 2px solid #2a7088;
    transition: all 0.1s ease-in;
  }
  .button:active {
    transform: translateY(4px);
    border-bottom-width: 2px;
    box-shadow: none;
  }


.admin-menu {
    color: var(--color-white);
    background-color: var(--color-black);
    height: 100%;
    width: 200px;
}

.admin-menu a {
    text-decoration: none;
    font-size: 1.1rem;
    color: inherit;
}

.admin-menu ul {
    list-style: none;
    padding: 0px;
    margin: 20px 0px 0px 0px;
}

.admin-menu li {
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.admin-menu li span {
    width: 45px;
}

.admin-menu li:hover,
.admin-menu li.active {
    background-color: var(--color-light-black);
}

.admin-content {
    background-color: var(--color-light-grey);
    flex-grow: 1;
}

.admin-paper {
    background-color: var(--color-white);
    border-radius: 2px;
    box-shadow: 0px 0px 2px var(--color-grey);
    padding: 12px;
    margin: 8px;
}

.user-form {
    display: flex;
    align-items: center;
}

table {
    width: 100%;
}

.col-stat {
    padding: 5px;
}

.col-stat .card {
    height: 100%;
}

.stat-number {
    font-size: 1.9rem;
    font-weight: bold;
    margin-right: 5px;
}

.stat-card-link,
.stat-card-link:hover,
.stat-card-link:focus,
.stat-card-link:visited {
    color: inherit;
}