body {
    font-family: 'Arial' , monospace;
    font-size: 6pt;
}

@page {
    margin: 0in;
}

div.printpagexl {
    page-break-inside: avoid;
    float: none;
    box-sizing: border-box;
    
    display: flex;
    flex-wrap: wrap;
    row-gap: .25in;

    width: 11in;
    height: 8.48in; /* Maximum height that keeps Chrome from adding a second page */

    padding-left: .5in;
    padding-right: .5in;
    padding-top: .0in;
    padding-bottom: .25in;
}

div.printpagelarge {
    page-break-inside: avoid;
    float: none;
    box-sizing: border-box;

    width:8.35in; 
    height:10.04in; 

    padding-left: .15in;
    padding-right: 0in;
    padding-top: .35in;
    padding-bottom: .48in;
}

div.printpagesmall {
    page-break-inside: avoid;
    float: none;
    box-sizing: border-box;
    
    width: 8.35in;
    height: 10.04in;

    padding-left: .3in;
    padding-right: 0in;
    padding-top: .45in;
    padding-bottom: .48in;
}

div.printlabelxl {
    position: relative;
    float: left;
    box-sizing: border-box;
    border-style: solid;
    border-color: white;
    background-color: #ffffff;

    width: 3.33in;
    height: 4in; /* Maximum height that keeps Chrome from adding a second page */

    padding: 2em;
}

div.printlabellarge {
    float: left;
    box-sizing: border-box;
    border-style: solid;
    border-color: white;
    background-color: #ffffff;

    width: 4in;
    min-width: 4in;
    height: 2in;
    min-height: 2in;
}

div.printlabelsmall {
    float:left;
    box-sizing: border-box;
    background-color: #ffffff;

    width: 1.95in;
    min-width: 1.95in;
    height: 1.25in;
    min-height: 1.25in;
}

div.kit-label-sm {
    margin-top: .5em;
    margin-right: auto;
    margin-left: auto;
    width: 70%;

    text-align: center;
    font-size: 2em;
}

div.kit-label-lg {
    text-align: center;
}

.kit-label-list {
    font-size:1.5em;
    text-align: left;
    
    padding-left: 0;
    overflow: hidden;
}

.kit-label-list li {
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

.kit-label-qr {
    display: block;
    height: .8in;
    margin: 0;
}

.kit-label-logo {
    position:absolute;
    right:2.5em;
    bottom:1em;
    transform-origin:bottom right;
    transform: rotate(-90deg) translateX(100%);

    height:.7in;

    /* Filters identified from https://angel-rs.github.io/css-color-filter-generator/ */
    filter: brightness(0) saturate(100%) invert(45%) sepia(83%) saturate(7023%) hue-rotate(11deg) brightness(94%) contrast(93%);
}

div.kit-label-lg * {
    margin: 0;
}

#color-swatch {
    height: 2.25rem;
    width: auto;
    aspect-ratio: 1/1;
    
    border-radius: 2.25rem;
}

/*
    NOTE: these colors were chosen to minimize overlap for colorblind folks.
    Use https://color.adobe.com/create/color-accessibility to find more non-overlapping
    colors if needed.

    Background design patterns from https://www.magicpattern.design/tools/css-backgrounds.
*/
#color-swatch.magenta {
    background-color: black;
    background-image:
        conic-gradient(from 60deg at 56.25% calc(425% / 6), transparent 0deg, transparent 0.5deg, magenta 0.5deg, magenta 119.5deg, transparent 119.5deg, transparent 120deg),
        conic-gradient(from 60deg at 56.25% calc(425% / 6), transparent 0deg, transparent 0.5deg, magenta 0.5deg, magenta 119.5deg, transparent 119.5deg, transparent 120deg),
        conic-gradient(from 180deg at 43.75% calc(425% / 6), transparent 0deg, transparent 0.5deg, magenta 0.5deg, magenta 119.5deg, transparent 119.5deg, transparent 120deg),
        conic-gradient(from 180deg at 43.75% calc(425% / 6), transparent 0deg, transparent 0.5deg, magenta 0.5deg, magenta 119.5deg, transparent 119.5deg, transparent 120deg),
        conic-gradient(from -60deg at 50% calc(175% / 12), transparent 0deg, transparent 0.5deg, magenta 0.5deg, magenta 119.5deg, transparent 119.5deg, transparent 120deg),
        conic-gradient(from -60deg at 50% calc(175% / 12), transparent 0deg, transparent 0.5deg, magenta 0.5deg, magenta 119.5deg, transparent 119.5deg, transparent 120deg);
    background-position: 0 0, 10px 17px, 0 0, 10px 17px, 10px 0, 0 17px;
    background-size: 20px 34px;
}
#color-swatch.red {
    background-color:black;
    background-image:
        linear-gradient(135deg, red 25%, transparent 25%),
        linear-gradient(225deg, red 25%, transparent 25%),
        linear-gradient(45deg, red 25%, transparent 25%),
        linear-gradient(315deg, red 25%, transparent 25%);
    background-position:  10px 0, 10px 0, 0 0, 0 0;
    background-size: 20px 20px;
    background-repeat: repeat;
}
#color-swatch.green {
    background-color: white;
    background-image: radial-gradient(ellipse farthest-corner at 10px 10px , palegreen, palegreen 50%, transparent 50%);
    background-size: 10px 10px;
}
#color-swatch.purple {
    background-color: white;
    background-image:
        radial-gradient(circle at center center, slateblue, white),
        repeating-radial-gradient(circle at center center, slateblue, slateblue, 10px, transparent 20px, transparent 10px);
    background-blend-mode: multiply;
}
